*{
	margin: 0;
}
/* Spécificité 0.1.1*/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-color: #111;
}

ul.topnav li a.active {
	background-color: #4CAF50;
}

ul.topnav li.right {
	float: right;
}

/* Spécificité 0.1.0 */
.active {
    background-color: #4CAF80;
}

/* Spécificité 0.0.1 et 0.1.0*/
h1,.description{
	color: rgb(33, 37, 41);
	font-family: 'Trocchi', serif;
	font-weight: normal; 
	line-height: 60px;
	text-align: center;
	margin-top: 20px;

}
/* Spécificité 0.0.1*/
h2{
	color: rgb(33, 37, 41);
	font-family: 'Trocchi', serif;
	font-size: 28px;
	line-height: 40px;
	text-align: center;
	margin-top: 20px;
}

/* Spécificité 0.0.1*/
h3{
	color: rgb(33, 37, 41);
	font-family: 'Trocchi', serif;
	font-size: 10px;
	line-height: 40px;
	text-align: center;
	margin-top: 20px;
}

/* Spécificité 1.0.0 */
#logo{
	margin-top:2px;
	width: 40px;
	height: 40px;
	margin-left: 10px;
}
/* Spécificité 0.0.1 */
hr{
  margin: 25px auto;
  width: 90%;
  height: 2px;
  background-color: rgb(33, 37, 41);
  border: none; /*on supprime le style par défaut*/
}
/* Spécificité 0.1.0 */
.contact
{
	width: 40px;
	height: 40px;
}
/* Spécificité 0.1.0 */
.foot-contact
{
	position: absolute;
    right: 20px;
}
/* Spécificité 0.1.0 */
.accroche
{
	font-size: 16px;
    margin-bottom: 0;
    color: #808080;
    padding-top: 0;
    text-align: center;
}
/* Spécificité 0.1.0 */
.intro
{
	text-align: center;
	font-family:"Segoe Print", "Times New Roman", Verdana;
	padding: 10px;
	min-height: 44px;
}

/* Spécificité 0.1.0 */
.icon
{
	border-radius: 50%;
	max-width: 50%;
	max-height: 50%;
}
/* Spécificité 0.1.1*/
div .row{
	margin: auto;
	width: 80%;
}

/* Spécificité 0.1.1 */
div .col{
	float:left;
	text-align: center;
	padding-top: 2%;
    width: 33%;
}

/* Spécificité 0.1.0 */
.dessin{
	margin:auto;
	max-width: 100%; 
}

/* Spécificité 0.1.1 */
a.help{
	text-decoration:none;
	color:#17a2b8;
}
/* Spécificité 0.1.0 */
.center{
	text-decoration:none;
	color:#17a2b8;
	margin:0px auto;
	width:200px;
	display:block;

}
/* Spécificité 0.1.1 */
a.help:hover {
	color: red;
}
/* Spécificité 0.1.0 */
.resume
{
	margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: justify;
}
/* Spécificité 0.1.1 */
ul.listform{
	margin-left: auto;
    margin-right: auto;
    width: 85%;
    text-align: justify;
}
/* Spécificité 0.1.0 */
.caroussel{
	margin: auto;
	width: 80%;
}
/* Spécificité 0.1.0 */
.buttons
{
	margin: auto;
	width: 100%;
}
/* Spécificité 0.1.0 */
.button{
	width: 35%;
	border-radius: 2em;
	color: #FFFFFF;
	background-color: #4eb5f1;
	margin-left: 10%;
}
/* Spécificité 0.1.0 */
.society
{
	margin: 10% auto;
	max-width: 200px; 
	max-height: 200px;
}
/* Spécificité 0.1.0 */
.container-div
{
	width: 80%;
	margin: auto;
}
/* Spécificité 0.1.0 */
.content-text{
	width:90%;
}
/* Spécificité 0.1.0 */
.content-img{
	margin-left: 5%;
	width:50%;
}
/* Spécificité 0.1.0 */
.float-right{
	float: right;
	margin-right: 5%;
}
/* Spécificité 0.1.0 */
.reset{
	clear: both;
}
/* Spécificité 0.1.0 */
.icon-title{
	text-align: center;
	font-family: 'Trocchi', serif;
	font-size: 12px;
}
section .flex-container{
	flex-direction:row;
	display:flex;
	justify-content:center;
}
.flex-item {
	min-width:25%;
	margin: 5%;
	text-align: center;
}
.projet-image{
	max-width: 300px; 
}
@media screen and (max-width: 830px){
    p.accroche,p {
    	font-size: smaller;
    }
    h1{
    	font-size: 1.2em;
    }
    h2{
    	font-size: 0.95em;
    }
    a.center{
    	font-size: smaller;
    }
    section .flex-container{
    	flex-direction:column;
    } 
    .society{
    	width:60%;
    }
    .projet-image{
    	width:90%;
    }
}
@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    ul.listform{
    	font-size: smaller;
    }
    #logo
    {
    	display:none;
    }
    p.accroche,p {
    	font-size: smaller;
    }
    h1, h2{
    	font-size: 0.85em;
    }
    a.center{
    	font-size: x-small;
    }
    section .flex-container{
    	flex-direction:column;
    } 
    .society{
    	width:50%;
    }
    .projet-image{
    	width:90%;
    }
}
